// style header

#header {
  // overflow: hidden;
  // margin-bottom: 10px;
  background: #fff;
  position: relative;
  min-height: 100px;
  z-index: 99;
  @media (max-width: @screen-xs-max) {
      min-height: 0;
  }
  .box-logo {
    .logo {
      padding: 30px 0;
      @media (max-width: @screen-xs-max) {
          padding: 15px 0;
      }
    }
  }
  .box-login {
    text-align: right;
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: flex-end ;
    align-items: center ;
    align-content: center ;
    a {
      margin-left: 15px;
    }
    .lang_default {
      width: 50px;
      height: 50px;
      display: inline-block;
      background: url(../images/ic_lang.png) top left no-repeat ;
      background-size: cover;
      text-indent: -9999em;
      &.lag_en {
        background: url(../images/ic_lan_en.png) top left no-repeat ;
        background-size: cover;
      }
      &.lag_vn {
        background: url(../images/ic_lang.png) top left no-repeat ;
        background-size: cover;
      }
      
    }
    .box_lang {
      position: relative;
    }
    .dropdown-language {
      width: 100px!important;
      min-width: 0;
      padding: 10px;
      li {
        margin-bottom: 10px;
        img {
          max-width: 30px;
          margin-right: 10px;
        }
      }
    }
  }
  .container {
    padding: 0;
    @media (min-width: @screen-md-min) {
        padding: 0 7px;
    }
  }
  .navbar-header {
    padding: 7px 0px;
    text-align: right;
    border: 0;
    .btn-navbar {
      width: 40px;
      height: 40px;
      background: @brand-primary;
      border-radius: 4px;
      border: 0;
      text-align: center;
      padding: 0;
    }
    .icon-bar {
      background: #fff;
      &.ic_small {
          width: 80%;
          margin-left: 20%;
      }
    }
    .icon-bar {
        display: block;
        width: 75%;
        height: 3px;
        border-radius: 1px;
        margin: 4px auto;
    }
  }
  .row {
    display: flex ;
    flex-direction: row ;
    // flex-wrap: wrap ;
    justify-content: flex-start ;
    align-items: center ;
    align-content: center ;
  }
}

.box-nav {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
      a {
        text-transform: uppercase;
        color: @brand-primary;
        padding: 20px 10px;
        display: inline-block;
        font-weight: bold;
        &:hover, &:focus {
          color: @blue;
          text-decoration: none;
        }
      }
    }
  }
}
// style footer
#footer {
  // background: url(../images/bg_footer.png) top center no-repeat;
  padding-top: 200px;
  z-index: 1;
  color: #fff;
  position:relative;
  overflow:hidden;
  @media (max-width: @screen-xs-max) {
      padding-top: 100px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 201px;
    content: "";
    background: url(../images/bg_footer_top.png) top center no-repeat;
    @media (max-width: @screen-xs-max) {
        height: 101px;
        background-size: cover;
    }
  }
  .footer-introduction {
    @media (max-width: @screen-xs-max) { 
      // margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
  }
  .copyright {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  .con_footer {
    // padding: 0 20px;
    // min-height: 40px;
    position: relative;
    background: @brand-primary;
    .col-xs-12 {
      @media (max-width: @screen-xs-max) { 
        margin-bottom: 30px;
      }
    }
    .box_footer {
      margin-bottom: 50px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -250px;
        bottom: 0px;
        width: 17.5%;
        height: 242px;
        background: url(../images/img_child2.png) center center no-repeat ;
        background-size: cover;
      }
      &:after {
        content: "";
        position: absolute;
        right: -250px;
        bottom: 0px;
        width: 12%;
        height: 249px;
        background: url(../images/img_child1.png) center center no-repeat ;
        background-size: cover;
      }
    }
    .info {
        padding-right: 80px;
      }
  }
  .box_lnk {
    a {
      display: block;
      margin-bottom: 15px;
    }
  }
  .footer-social-group {
    display: flex ;
    flex-direction: row ;
    // flex-wrap: wrap ;
    justify-content: flex-start ;
    align-items: flex-start ;
    align-content: center ;
    margin-top: 30px;
    .footer-social-item a{
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #fff;
      text-align: center;
      line-height: 38px;
      border: 1px solid #fff;
      margin-right: 15px;
      color: @brand-primary;
      border-radius: 50%;
      &:hover {
        border: 1px dashed #fff;
        color: #fff;
        background: transparent;
      }
    }
  }
  h4 {
    margin-bottom: 25px;
    font-size: 20px;
    @media (max-width: @screen-xs-max) { 
      margin-bottom: 20px;
    }
  }
  .footer-contact-item {
    margin-bottom: 7px;
    i {
      margin-right: 10px;
    }
  }
}

.msg-error {
  padding: 5px 0;
  color: @red;
  // background: @brand-primary;
  // border-radius: 5px;
  font-size: @font-size-base;
  display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
}
.text-truncate {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
}
.bgcolor-white {
  background: #fff;
}
.container-wrap {
  .container-wrap();
}
.container-wrap() {
  max-width: 1720px;

  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
  @media (min-width: 1800px) {
    width: 1720px;
  }
  
}
.fixmenu{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
  .fixmenu_inner {
    padding: 0em;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: block;
        padding: 5px 20px;
        a{
          text-decoration: none;
          // color: #fff;
          // font-family: @font-robo;
          // font-weight: bold;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 15px;
          // margin-bottom: 10px;
        }


      }
    }
  }
  .box-hotline{
    color: #d7d7d7;
    padding-top: 1em;
    border-bottom: 1px solid rgba(#fff, .1);
    padding-bottom: 1em;
    p{
      padding: 5px 0;
    }
  }
}
.overlay{
  display: none;
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  // @include transform(translate(100%, 0));
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  height: 100%;
  background: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;
 -webkit-transition: all 0.4s ease;
  // @include transition(all 0.4s ease);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}