#quiz-page {
	background: url(../images/bg_body.jpg) top left;
	background-size: cover;
	.top-quiz {
		display: flex ;
		flex-direction: row ;
		flex-wrap: wrap ;
		justify-content: space-between ;
		align-items: center ;
		align-content: center ;
		height: 90px;
		padding: 0 35px;
		@media (min-width: 1400px) {
			height: 120px;
		}
		.back-btn {
			display: inline-block;
			// max-width: 5.6%;
			span {
				text-indent: -999em;
			}
			img {
				@media (max-width: 1300px) {
					max-width: 60px;
				}
			}
			@media (min-width: 1400px) {
				max-width: 6%;
			}
		}
		.tquiz-center {
			text-align: center;
			color: #fff;
			// margin-left: 150px;
			// @media (min-width: 1400px) {
			// 	margin-left: 150px;
			// }
			h3 {
				font-size: 36px;
				line-height: 100%;
				margin-top: 10px;
				text-transform: uppercase;
				@media (min-width: 1400px) {
					font-size: 56px;
				}
			}
			h6 {
				font-size: 16px;
				text-transform: uppercase;
				@media (min-width: 1400px) {
					font-size: 25px;
				}
			}
		}
		.time-area {
			position: relative;
			.box_time {
				height: 60px;
				// line-height: 70px;
				border-radius: 30px;
				padding: 0 20px;
				.box-gradient-acc();
				width: 200px;
				text-align: center;
				position: absolute;
				right: 30px;
				top: 0;
				@media (min-width: 1400px) {
					width: 350px;
					height: 100px;
					border-radius: 50px;
					right: 50px;
				}
			}
			.text-time {
				font-size: 12px;
				color: #fff;
				display: block;
				text-transform: uppercase;
				font-family: @headings-font-family;
				line-height: 200%;
				margin-top: 5px;
				@media (min-width: 1400px) {
					font-size: 16px;
					margin-top: 12px;
				}
			}
			.time {
				color: #fff;
				display: block;
				font-size: 46px;
				line-height: 95%;
				text-transform: uppercase;
				font-family: @headings-font-family;
				@media (min-width: 1400px) {
					font-size: 68px;
				}
			}
			
			img {
				// position: absolute;
				// right: -20px;
				top: 0;
				position: relative;
				z-index: 2;
				@media (max-width: 1300px) {
					max-width: 65px;
				}
			}
		}
	}
	.main-quiz {
	    height: calc(100vh - 90px);
	    overflow: hidden;
	    @media (min-width: 1400px) {
			height: calc(100vh - 120px);
		}
		@media (max-width: 992px){
			height: auto;
		}
	    .box-content {
	    	background-image: url(../images/bg_book.png);
		    background-size: 98% 98%;
		    background-repeat: no-repeat;
		    background-position: 50%;
		    position: relative;
		    width: 94%;
		    height: 100%;
		    padding: 1.5% 7% 3.5% 7%;
		    margin: 0 auto;
		    @media (max-width: 992px){
		    	background: #fff;
		    	border: 2px solid @brand-primary;
		    	border-radius: 10px;
		    	padding: 5%;
		    	height: auto;
		    	margin-bottom: 30px;
		    	padding: 0;
		    }
		    .bg_content {
		    	width: 100%;
			    height: 100%;
			    padding: 0;
			    margin: 0 auto;
			    overflow: hidden;
			    position: relative;
		    }
		    .box_item {
		    	display: block;
			    position: relative;
			    float: left;
			    width: 50%;
			    height: 100%;
			    box-sizing: border-box;
			    padding: 0 2%;
			    @media (max-width: 992px){
			    	width: 100%;
			    	float: none;
			    	margin-bottom: 20px;
			    }
			    .box_quiz_time {
			    	display: flex ;
					flex-direction: column ;
					flex-wrap: wrap ;
					justify-content: center ;
					align-items: center ;
					align-content: center ;
					height: 100%;
			    }
			    .box_equal {
			    	display: flex ;
					flex-direction: column ;
					flex-wrap: wrap ;
					justify-content: center ;
					align-items: center ;
					align-content: center ;
			    	text-align: center;
			    	height: 100%;
			    	p.photo {
			    		img {
			    			max-width: 125px;
			    			@media (min-width: 1400px) {
			    				max-width: 230px;
			    			}
			    		}
			    	}
			    	h2 {
			    		font-family: 'Baloo';
			    		margin-top: 20px;
						font-size: 55px;
						color: #b21717;
						line-height: 80%;
						text-transform: uppercase;
						@media (min-width: 1400px) {
						    font-size: 94px;
						}
						span {

	  						text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
	  						-webkit-text-stroke: colorchange;
	  						text-shadow: rgb(189, 189, 189) 3px 0px 0px, rgb(189, 189, 189) 2.83487px 0.981584px 0px, rgb(189, 189, 189) 2.35766px 1.85511px 0px, rgb(189, 189, 189) 1.62091px 2.52441px 0px, rgb(189, 189, 189) 0.705713px 2.91581px 0px, rgb(189, 189, 189) -0.287171px 2.98622px 0px, rgb(189, 189, 189) -1.24844px 2.72789px 0px, rgb(189, 189, 189) -2.07227px 2.16926px 0px, rgb(189, 189, 189) -2.66798px 1.37182px 0px, rgb(189, 189, 189) -2.96998px 0.42336px 0px, rgb(189, 189, 189) -2.94502px -0.571704px 0px, rgb(189, 189, 189) -2.59586px -1.50383px 0px, rgb(189, 189, 189) -1.96093px -2.27041px 0px, rgb(189, 189, 189) -1.11013px -2.78704px 0px, rgb(189, 189, 189) -0.137119px -2.99686px 0px, rgb(189, 189, 189) 0.850987px -2.87677px 0px, rgb(189, 189, 189) 1.74541px -2.43999px 0px, rgb(189, 189, 189) 2.44769px -1.73459px 0px, rgb(189, 189, 189) 2.88051px -0.838247px 0px;
	  						// text-shadow: #b1b1b1 2px 0px 0px, #b1b1b1 1.75517px 0.958851px 0px, #b1b1b1 1.0806px 1.68294px 0px, #b1b1b1 0.141474px 1.99499px 0px, #b1b1b1 -0.832294px 1.81859px 0px, #b1b1b1 -1.60229px 1.19694px 0px, #b1b1b1 -1.97998px 0.28224px 0px, #b1b1b1 -1.87291px -0.701566px 0px, #b1b1b1 -1.30729px -1.5136px 0px, #b1b1b1 -0.421592px -1.95506px 0px, #b1b1b1 0.567324px -1.91785px 0px, #b1b1b1 1.41734px -1.41108px 0px, #b1b1b1 1.92034px -0.558831px 0px;
						}
						span.top {
							background: -webkit-linear-gradient(45deg, #b21717, #da1d1d 80%);
							-webkit-background-clip: text;
							color: #db1d1d;
	  						// -webkit-text-fill-color: transparent;
							
						}
						span.bottom {
							background: -webkit-linear-gradient(-28deg, #5f1a1a, #da1d1d 43%);
							-webkit-background-clip: text;
	  						// -webkit-text-fill-color: transparent;
						}
			    	}
			    	h3 {
			    		font-family: 'Baloo';
			    		color: @brand-primary;
			    		font-size: 100px;
			    		position: relative;
			    		line-height: 60%;
			    		text-transform: uppercase;
			    		@media (min-width: 1400px) {
						    font-size: 180px;
						}
			    	}
			    	h4 {
			    		font-family: 'Baloo';
			    		text-transform: uppercase;
			    		font-size: 26px;
			    		color: #b21717;
			    		margin: 25px 0 20px 0;
			    		@media (min-width: 1400px) {
						    font-size: 40px;
						    margin: 35px 0 20px 0;
						}
			    		span {
			    			display: inline-block;
			    			position: relative;
			    			text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
	  						// -webkit-text-stroke:colorchange;
	  						text-shadow: rgb(189, 189, 189) 3px 0px 0px, rgb(189, 189, 189) 2.83487px 0.981584px 0px, rgb(189, 189, 189) 2.35766px 1.85511px 0px, rgb(189, 189, 189) 1.62091px 2.52441px 0px, rgb(189, 189, 189) 0.705713px 2.91581px 0px, rgb(189, 189, 189) -0.287171px 2.98622px 0px, rgb(189, 189, 189) -1.24844px 2.72789px 0px, rgb(189, 189, 189) -2.07227px 2.16926px 0px, rgb(189, 189, 189) -2.66798px 1.37182px 0px, rgb(189, 189, 189) -2.96998px 0.42336px 0px, rgb(189, 189, 189) -2.94502px -0.571704px 0px, rgb(189, 189, 189) -2.59586px -1.50383px 0px, rgb(189, 189, 189) -1.96093px -2.27041px 0px, rgb(189, 189, 189) -1.11013px -2.78704px 0px, rgb(189, 189, 189) -0.137119px -2.99686px 0px, rgb(189, 189, 189) 0.850987px -2.87677px 0px, rgb(189, 189, 189) 1.74541px -2.43999px 0px, rgb(189, 189, 189) 2.44769px -1.73459px 0px, rgb(189, 189, 189) 2.88051px -0.838247px 0px;
	  						
			    			&:before {
				    			position: absolute;
				    			top: -17px;
				    			left: 0;
				    			right: 0;
				    			height: 3px;
				    			background: @brand-primary;
				    			content: "";
				    			@media (min-width: 1400px) {
				    				height: 5px;
				    				top: -20px;
				    			}
				    		}
			    		}
			    	}
			    	
			    }

			    .quiz-time {
			    	border: 2px solid @brand-primary;
			    	border-radius: 20px;
			    	padding: 35px;
			    	width: 90%;
			    	&.featured {
			    		ul {
			    			li {
			    				h3 {
			    					span {
			    						width: 150px;
					    				@media (min-width: 1400px) {
						    				width: 200px;
					    				}
					    				@media (max-width: 992px){
											width: 120px;
										}
			    					}
			    				}
			    			}
			    		}
			    	}
			    	@media (min-width: 1400px) {
			    		padding: 50px;
			    	}
			    	@media (max-width: 992px){
			    		padding: 10px 0;
			    		border: 0;
			    	}
			    	ul {
			    		list-style: none;
			    		padding: 0;
			    		margin: 0;
			    		li {
			    			position: relative;
			    			&:before {
			    				position: absolute;
			    				top: 0;
			    				left: 0;
			    				width: 90%;
			    				height: 100%;
			    				content: "";
			    				border-radius: 30px;
			    				background: rgb(243,124,111);
								background: linear-gradient(90deg, rgba(243,124,111,1) 0%, rgba(247,157,75,1) 35%, rgba(255,217,10,1) 100%);
			    			}
			    			&:last-child {
			    				h3 {
			    					margin-bottom: 0;
			    				}
			    			}
			    			h3 {
			    				font-family: @headings-font-family;
				    			color: #fff;
				    			// background: #fcc420;
				    			border-radius: 22px;
				    			height: 45px;
				    			line-height: 50px;
				    			padding-left: 20px;
				    			margin-bottom: 25px;
				    			text-transform: uppercase;
				    			font-size: 16px;
				    			position: relative;
				    			@media (min-width: 1400px) {
								    font-size: 26px;
								    height: 62px;
				    				line-height: 70px;
				    				border-radius: 30px;
				    				margin-bottom: 40px;
								}
								@media (max-width: 992px){
									font-size: 14px;
								}
			    			}
			    			span {
			    				display: inline-block;
			    				float: right;
			    				width: 160px;
			    				text-align: center;
			    				background: @brand-primary;
			    				border-radius: 30px;
			    				height: 45px;
			    				line-height: 50px;
			    				@media (min-width: 1400px) {
			    					height: 62px;
				    				line-height: 70px;
				    				border-radius: 30px;
				    				width: 230px;
			    				}
			    				@media (max-width: 992px){
									width: 120px;
								}
			    			}
			    		}
			    	}
			    	a {
			    		text-decoration: underline;
			    	}
			    	.btn-equal {
			    		margin-top: 30px;
			    	}
			    }
			    .content-text {
			    	overflow: auto;
    				overflow-x: hidden;
    				width: 92%;
    				height: 100%;
    				margin: 0px auto;
    				padding-top: 16%;
					
			    }
			    .box_question_top {
			    	overflow: auto;
    				overflow-x: hidden;
    				width: 92%;
    				height: 100%;
    				margin: 0 auto;
    				padding-top: 3%;
    				p.photo_part {
    					margin-bottom: 10px;
    					@media (min-width: 1400px) {
    						margin-bottom: 20px;
    					}
    					img {
    						max-width: 30%;
    						@media (min-width: 1400px) {
    							max-width: 45%;
    						}
    					}
    				}
			    	h3.title {
			    		color: @brand-primary;
			    		font-size: 26px;
			    		margin-bottom: 10px;
			    		text-align: center;
			    		@media (min-width: 1400px) {
			    			font-size: 42px;
			    			margin-bottom: 30px;
			    		}
			    	}
			    	.note {
			    		text-align: center;
			    		padding: 15px 20px 7px 20px;
			    		border: 3px solid #f3a770;
			    		border-radius: 20px;
			    		width: 88%;
			    		margin: 0 auto 15px auto;
			    		@media (min-width: 1400px) {
			    			padding: 18px 15px;
			    			margin: 0 auto 25px auto;
			    			// margin-bottom: 15px;
			    			width: 94%;
			    			border: 4px solid #f3a770;
			    		}
			    		h4 {
			    			font-size: 17px;
			    			color: #000;
			    			font-weight: bold;
			    			text-transform: uppercase;
			    			line-height: 120%;
			    			@media (min-width: 1400px) {
				    			font-size: 28px;
				    			
				    		}
			    		}
			    	}
			    }
			    .content-border {
			    	padding: 0% 5% 1% 5%;
			    	ul.input_txt {
			    		list-style: none;
			    		padding: 0;
			    		margin: 0;
			    		li {
			    			display: block;
			    			margin-bottom: 30px;
			    			padding: 12px 30px;
			    			.box-gradient-ver();
							display: flex ;
							flex-direction: row ;
							flex-wrap: wrap ;
							justify-content: space-between ;
							align-items: center ;
							align-content: center ;
							border-radius: 20px;
							&:last-child {
								margin-bottom: 0;
							}
							@media (min-width: 1400px) {
								margin-bottom: 60px;
							}
							@media (max-width: 992px){

							}
							.photo_left {
								width: 20%;
							}
							input.input-quiz {
								background: transparent;
								border: 0;
								width: auto;
								max-width: 110px;
								width: 40%;
								border-bottom: 1px solid #fff;
								color: #fff;
								text-transform: uppercase;
								font-size: 18px;
								font-weight: bold!important;
								text-align: center;
								font-family: @headings-font-family;
								@media (min-width: 1400px) {
									width: 150px;
									font-size: 28px;
								}
								@media (max-width: 992px){

								}
								&:focus {
									outline: none;
								}
							}
							.photo_right {
								width: 32%;
							}
			    		}
			    	}
			    }
			    .box_input {
			    	position: relative;
				    height: 0;
				    top: 0;
			    }
			    .box_input4 {
			    	position: relative;
				    height: 0;
				    top: 0;
			    }
			    .quiz-info {
			    	display: flex ;
					flex-direction: column ;
					flex-wrap: wrap ;
					justify-content: center ;
					align-items: center ;
					align-content: center ;
					height: 100%;
					overflow-y: auto;
			    	h3.title {
			    		font-size: 22px;
		    			height: 40px;
		    			line-height: 50px;
		    			border-radius: 20px;
		    			text-align: center;
		    			color: @brand-primary;
		    			.box-gradient-ver();
		    			width: 75%;
		    			margin: 0 auto 30px auto;
			    		@media (min-width: 1400px) {
			    			font-size: 34px;
			    			height: 60px;
			    			line-height: 72px;
			    			border-radius: 30px;
			    			margin: 0 auto 40px auto;
			    		}
			    		position: relative;
			    		&:before {
			    			position: absolute;
			    			content: "";
			    			top: 2px;
			    			left: 2px;
			    			right: 2px;
			    			bottom: 2px;
			    			border-radius: 20px;
			    			background: #edecee;
			    			z-index: 1;
			    			@media (min-width: 1400px) {
			    				border-radius: 30px;
			    			}
			    		}
			    		span {
			    			z-index: 2;
			    			position: relative;
			    		}
			    	}
			    	p.note {
			    		font-weight: bold;
			    		width: 90%;
			    		margin: 0 auto 35px auto;
			    		text-align: center;
			    		@media (min-width: 1400px) {
			    			font-size: 22px;
			    			margin: 0 auto 50px auto;
			    		}
			    	}
			    	.box_quiz_time {
			    		height: auto;
			    		width: 100%;
			    		max-height: 56%;
			    		.quiz-time {
			    			width: 100%;
			    			border: 2px solid @brand-primary;
					    	border-radius: 20px;
					    	padding: 25px 30px;
					    	width: 95%;
					    	margin: 0 auto;
					    	@media (min-width: 1400px) {
					    		padding: 50px;
					    	}
					    	@media (max-width: 992px){
					    		padding: 10px 0;
					    		border: 0;
					    	}
					    	ul {
					    		list-style: none;
					    		padding: 0;
					    		margin: 0;
					    		li {
					    			&:before {
					    				.box-gradient-acc-lighter();
					    			}
					    		}
					    	}
			    		}
			    	}
			    	.mtime-score {
			    		width: 85%;
			    		margin: 0 auto;
			    		.box-gradient-ver();
			    		border-radius: 20px;
			    		position: relative;
			    		height: 150px;
			    		@media (min-width: 1400px) {
			    			height: 200px;
			    		}
			    		&:after {
			    			position: absolute;
			    			top: 45px;
			    			left: 50%;
			    			bottom: 30px;
			    			width: 2px;
			    			content: "";
			    			.box-gradient-ver();
			    			z-index: 3;
			    			@media (min-width: 1400px) {
				    			width: 3px;
				    		}
			    		}
			    		&:before {
			    			position: absolute;
			    			content: "";
			    			top: 2px;
			    			left: 2px;
			    			right: 2px;
			    			bottom: 2px;
			    			border-radius: 20px;
			    			background: #edecee;
			    			z-index: 1;
			    			@media (min-width: 1400px) {
			    				// border-radius: 30px;
			    			}
			    		}
			    		h4 {
			    			position: absolute;
			    			top: -20px;
			    			left: 50%;
			    			z-index: 2;
			    			width: 150px;
			    			height: 35px;
			    			border-radius: 17px;
			    			text-align: center;
			    			color: #fff;
			    			font-size: 18px;
			    			line-height: 40px;
			    			.bg-gradient-btn();
			    			margin-left: -75px;
			    			@media (min-width: 1400px) {
			    				width: 200px;
			    				height: 45px;
			    				border-radius: 22px;
			    				font-size: 26px;
			    				line-height: 54px;
			    				margin-left: -100px;
			    			}
			    		}
			    		.row {
			    			position: relative;
			    			z-index: 2;
			    			height: 100%;
			    			.col-6 {
			    				text-align: center;
			    				display: flex ;
								flex-direction: column ;
								flex-wrap: wrap ;
								justify-content: center ;
								align-items: center ;
								align-content: center ;
								height: 100%;
								p {
									@media (min-width: 1400px) {
										font-size: 22px;
									}
								}
								h6 {
									font-size: 34px;
									color: @brand-primary;
									margin-top: 15px;
									@media (min-width: 1400px) {
										font-size: 52px;
									}
								}
			    			}
			    		}
			    	}
			    	.box-btn {
			    		margin-top: 30px;
			    		@media (min-width: 1400px) {
			    			margin-top: 35px;
			    		}
			    	}
			    }
			    .box_question {
			    	// padding: 0 6%;
			    	width: 100%;
			    	height: 100%;
			    	margin: 0 auto;
			    	position: relative;
			    	overflow-y: auto;
			    	.box_inner {
			    		width: 98%;
			    		height: 100%;
			    		position: relative;
			    	}
			    	.photo {
			    		position: absolute;
			    		top: 0;
			    		height: auto;
			    	}
			    	.input-quiz {
			    		position: relative;
			    		background: transparent;
						border: 0;
						width: auto;
						max-width: 150px;
						// width: 40%;
						// border-bottom: 1px solid #fff;
						// color: #fff;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: bold!important;
						text-align: left;
						font-family: @headings-font-family;
						@media (min-width: 1400px) {
							width: 200px;
						}
			    		
						&:focus {
							outline: none;
						}
			    	}
			    	.box_text {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    	}
			    	.box_text01 {
			    		position: absolute;
			    		right: 0%;
			    		top: 13%;
			    		
			    	}
			    	.box_text02 {
			    		position: absolute;
			    		right: 0%;
			    		top: 29%;
			    		@media (min-width: 1400px) {
			    			top: 29%;
			    		}
			    	}
			    	.box_text03 {
			    		position: absolute;
			    		right: 0%;
			    		top: 44.5%;
			    		@media (min-width: 1400px) {
			    			top: 44%;
			    		}
			    	}
			    	.box_text04 {
			    		position: absolute;
			    		right: 0%;
			    		top: 60%;
			    		@media (min-width: 1400px) {
			    			top: 59%;
			    		}
			    	}
			    	.box_text05 {
			    		position: absolute;
			    		right: 0%;
			    		top: 79%;
			    		@media (min-width: 1400px) {
			    			top: 76%;
			    		}
			    	}
			    	
			    	.box_text4 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 12%;
			    		right: 2%!important;
			    		.input-quiz {
			    			width: 100%;
			    			max-width: none;
			    		}
			    	}
			    	.box_text41 {
			    		position: absolute;
			    		right: 0%;
			    		top: 19%;
			    		
			    	}
			    	.box_text42 {
			    		position: absolute;
			    		right: 0%;
			    		top: 37%;
			    		@media (min-width: 1400px) {
			    			top: 36%;
			    		}
			    	}
			    	.box_text43 {
			    		position: absolute;
			    		right: 0%;
			    		top: 54%;
			    		@media (min-width: 1400px) {
			    			top: 52%;
			    		}
			    	}
			    	.box_text44 {
			    		position: absolute;
			    		right: 0%;
			    		top: 71%;
			    		@media (min-width: 1400px) {
			    			top: 69%;
			    		}
			    	}
			    	.box_text45 {
			    		position: absolute;
			    		right: 0%;
			    		top: 89%;
			    		@media (min-width: 1400px) {
			    			top: 86%;
			    		}
			    	}
			    	.box_text5 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 30%;
			    		right: 5%!important;
			    		.input-quiz {
			    			width: 100%;
			    			max-width: none;
			    		}
			    	}
			    	.box_text51 {
			    		position: absolute;
			    		right: 0%;
			    		top: 44.5%;
			    		
			    	}
			    	.box_text52 {
			    		position: absolute;
			    		right: 0%;
			    		top: 68%;
			    		@media (min-width: 1400px) {
			    			top: 66%;
			    		}
			    	}
			    	.box_text53 {
			    		position: absolute;
			    		right: 0%;
			    		top: 91%;
			    		@media (min-width: 1400px) {
			    			top:88.5%;
			    		}
			    	}

			    	// style page exam8

			    	.box_audio8 {
			    		position: absolute;
			    		top: 34%;
			    		left: 0;
			    		width: 100%;
			    		height: 46px;
			    		.box-gradient-ver();
			    		border-radius: 23px;
			    		&:focus {
			    			outline: none;
			    		}
			    		@media (min-width: 1400px) {
			    			border-radius: 29px;
			    			height: 58px;
			    			left: 0.5%;
			    			right: 7.5%;
			    			width: auto;
			    			top: 33%;
			    		}
			    		.audio-quiz {
			    			position: absolute;
						    width: 99%;
						    top: 0px;
						    bottom: auto;
						    margin: 2px auto;
						    height: 91%;
						    left: 2px;
						    right: 2px;
						    &:focus {
				    			outline: none;
				    		}
			    		}
			    	}
			    	.box_audio11 {
			    		position: absolute;
			    		top: 44%;
			    		left: 0;
			    		width: 100%;
			    		height: 46px;
			    		.box-gradient-ver();
			    		border-radius: 23px;
			    		&:focus {
			    			outline: none;
			    		}
			    		@media (min-width: 1400px) {
			    			border-radius: 29px;
			    			height: 58px;
			    			left: 0.5%;
			    			right: 7.5%;
			    			width: auto;
			    			top: 42.5%;
			    		}
			    		.audio-quiz {
			    			position: absolute;
						    width: 99%;
						    top: 0px;
						    bottom: auto;
						    margin: 2px auto;
						    height: 91%;
						    left: 2px;
						    right: 2px;
						    &:focus {
				    			outline: none;
				    		}
			    		}
			    	}
			    	
			    	.box_text8 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 30%;
			    		.input-quiz {
			    			width: 140px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 200px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text81 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 8%;
			    		@media (min-width: 1400px) {
			    			top: 9%;
    						
			    		}
			    	}
			    	.box_text82 {
			    		position: absolute;
			    		top: 32.5%;
					    left: 5.5%;
					    // right: 11%;
			    		@media (min-width: 1400px) {
			    			top: 31.5%;
    						
			    		}
			    	}
			    	.box_text83 {
			    		position: absolute;
			    		left: 26%;
			    		top: 42.5%;
			    		@media (min-width: 1400px) {
			    			top: 41.5%;
    						
			    		}
			    	}
			    	
			    	.box_text84 {
			    		position: absolute;
			    		left: 31%;
			    		top: 55%;
			    		@media (min-width: 1400px) {
			    			top: 54%;
			    			left: 29%;
			    		}
			    	}
			    	.box_text85 {
			    		position: absolute;
			    		left: 42%;
			    		top: 73%;
			    		@media (min-width: 1400px) {
			    			top: 71%;
			    			left: 41%;
			    		}
			    	}
			    	//style page 9
			    	.box_text9 {
			    		position: absolute;
			    		top: 41%;
			    		left: 0%;
			    		width: 100%;
			    		@media (min-width: 1400px) {
			    			top: 40%;
			    		}
			    		input {
			    			width: 26px;
			    			height: 26px;
			    			
			    			border: 0;
			    			position: relative;
			    			z-index: 1;
			    			.box-gradient-ver();
			    			&:focus {
			    				outline: none!important;
			    			}
			    			&:after {
			    				position: absolute;
			    				top: 3px;
			    				left: 3px;
			    				right: 3px;
			    				bottom: 3px;
			    				content: "";
			    				border-radius: 50%;
			    				z-index: 1;
			    				background: #f4f4f5;
			    				@media (min-width: 1400px) {
			    					top: 4px;
				    				left: 4px;
				    				right: 4px;
				    				bottom: 4px;
			    				}
			    			}
			    			&:before {
			    				z-index: 2;
			    				background: transparent;
			    				width: 30px;
							    height: 30px;
							    margin-top: -15px;
							    margin-left: -12px;
							    font-size: 30px;
			    			}
			    			&:checked:before {
			    				content: "\f00c";
			    				color: #7ed321;
			    			}
			    			@media (min-width: 1400px) {
			    				width: 38px;
			    				height: 38px;
			    			}
			    		}
			    		.rad91 {
			    			left: 15%;
			    		}
			    		.rad92 {
			    			left: 41%;
			    			@media (min-width: 1400px) {
			    				left: 39.5%;
			    			}
			    		}
			    		.rad93 {
			    			left: 66%;
			    			@media (min-width: 1400px) {
			    				left: 64.5%;
			    			}
			    		}
			    		
			    	}
			    	.box_text90 {
			    		top: 88%;
			    		@media (min-width: 1400px) {
			    			top: 85%;
			    		}
			    	}
			    	.box_text92 {
			    		top: 93%;
			    		@media (min-width: 1400px) {
			    			top: 90%;
			    		}
			    	}
			    	// style page 11
			    	.box_text11 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		right: 17%;
			    		@media (min-width: 1400px) {
			    			right: 21%;
			    		}
			    		.input-quiz {
			    			width: 40px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 57px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text111 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 6%;
			    		@media (min-width: 1400px) {
			    			top: 7%;
    						
			    		}
			    	}
			    	.box_text112 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 22%;
			    		@media (min-width: 1400px) {
			    			top: 22.5%;
    						
			    		}
			    	}
			    	.box_text113 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 37.5%;
			    		@media (min-width: 1400px) {
			    			top: 37%;
    						
			    		}
			    	}
			    	.box_text114 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 54%;
			    		@media (min-width: 1400px) {
			    			top: 53%;
    						
			    		}
			    	}
			    	.box_text115 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 70%;
			    		@media (min-width: 1400px) {
			    			top: 67.5%;
    						
			    		}
			    	}
			    	.box_text116 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 86%;
			    		@media (min-width: 1400px) {
			    			top: 83.5%;
    						
			    		}
			    	}
			    	
			    	// style page 12
			    	.box_text12 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		right: 7%;
			    		.input-quiz {
			    			width: 110px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 160px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text121 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 17.5%;
			    		@media (min-width: 1400px) {
			    			top: 18%;
			    			right: 11%;
    						
			    		}
			    	}
			    	.box_text122 {
			    		position: absolute;
			    		top: 41.2%;
					    right: 5%;
					    // right: 11%;
			    		@media (min-width: 1400px) {
			    			top: 40.5%;
    						right: 6%;
			    		}
			    	}
			    	.box_text123 {
			    		position: absolute;
			    		right: 35%;
			    		top: 71%;
			    		@media (min-width: 1400px) {
			    			top: 69%;
    						right: 38%;
			    		}
			    	}
			    	
			    	.box_text124 {
			    		position: absolute;
			    		right: 15%;
			    		top: 77%;
			    		@media (min-width: 1400px) {
			    			top: 76%;
			    			right: 17%;
			    		}
			    	}
			    	
			    	// style page 14
			    	.box_text14 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 6%;
			    		@media (min-width: 1400px) {
			    			left: 7%;
			    		}
			    		.input-quiz {
			    			width: 140px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 210px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text141 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 19%;
			    		@media (min-width: 1400px) {
			    			top: 17.5%;
    						
			    		}
			    	}
			    	.box_text142 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 35%;
			    		@media (min-width: 1400px) {
			    			top: 33.5%;
    						
			    		}
			    	}
			    	.box_text143 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 51%;
			    		@media (min-width: 1400px) {
			    			top: 49.5%;
    						
			    		}
			    	}
			    	.box_text144 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 67%;
			    		@media (min-width: 1400px) {
			    			top: 65.5%;
    						
			    		}
			    	}
			    	.box_text145 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 83%;
			    		@media (min-width: 1400px) {
			    			top: 81.5%;
    						
			    		}
			    	}
			    	// style page 15
			    	.box_text15 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 14.5%;
			    		@media (min-width: 1400px) {
			    			left: 14%;
			    		}
			    		.input-quiz {
			    			width: 100px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 140px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text151 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 18%;
			    		@media (min-width: 1400px) {
			    			top: 18.5%;
    						
			    		}
			    	}
			    	.box_text152 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 27.5%;
			    		left: 35.5%;
			    		@media (min-width: 1400px) {
			    			top: 27.5%;
    						
			    		}
			    	}
			    	.box_text153 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 36%;
			    		left: 64.5%;
			    		@media (min-width: 1400px) {
			    			top: 36%;
			    			left: 64%;
    						
			    		}
			    	}
			    	.box_text154 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 46%;
    					left: 38%;
			    		@media (min-width: 1400px) {
			    			top: 45.5%;
    						
			    		}
			    	}
			    	.box_text155 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 55%;
			    		left: 33%;
			    		@media (min-width: 1400px) {
			    			top: 53%;
    						left: 32%;
			    		}
			    	}
			    	// style page 16
			    	.box_text16 {
			    		position: absolute;
			    		top: 18%;
			    		right: 13%;
			    		width: 100%;
			    		display: flex ;
						flex-direction: column ;
						flex-wrap: wrap ;
						justify-content: flex-start ;
						align-items: center ;
						align-content: flex-end ;
			    		@media (min-width: 1400px) {
			    			top: 17%;
			    			right: 19%;
			    		}
			    		input {
			    			width: 22px;
			    			height: 22px;
			    			
			    			border: 0;
			    			position: relative;
			    			z-index: 1;
			    			.box-gradient-ver();
			    			&:focus {
			    				outline: none!important;
			    			}
			    			&:after {
			    				position: absolute;
			    				top: 3px;
			    				left: 3px;
			    				right: 3px;
			    				bottom: 3px;
			    				content: "";
			    				border-radius: 50%;
			    				z-index: 1;
			    				background: #f4f4f5;
			    				@media (min-width: 1400px) {
			    					top: 4px;
				    				left: 4px;
				    				right: 4px;
				    				bottom: 4px;
			    				}
			    			}
			    			&:before {
			    				z-index: 2;
			    				background: transparent;
			    				width: 28px;
							    height: 28px;
							    margin-top: -16px;
							    margin-left: -14px;
							    font-size: 30px;
							    @media (min-width: 1400px) {
							    	width: 38px;
								    height: 38px;
								    margin-top: -18px;
								    margin-left: -15px;
								    font-size: 34px;
							    }
			    			}
			    			&:checked:before {
			    				content: "\f00c";
			    				color: #7ed321;
			    			}
			    			@media (min-width: 1400px) {
			    				width: 34px;
			    				height: 34px;
			    			}
			    		}
			    		
			    		
			    	}
			    	.box_text162 {
			    		top: 51.5%;
			    		@media (min-width: 1400px) {
			    			top: 48%;
			    		}
			    	}
			    	.box_text163 {
			    		top: 84.5%;
			    		@media (min-width: 1400px) {
			    			top: 81%;
			    		}
			    	}
			    	// style page 17
			    	.box_text17 {
			    		&:after {
			    			position: absolute;
			    			bottom: 0;
			    			left: 0;
			    			right: 0;
			    			height: 3px;
			    			content: "";
			    			background: rgb(243,166,112);
							background: linear-gradient(0deg, rgba(243,166,112,1) 0%, rgba(243,150,112,1) 50%, rgba(243,124,112,1) 100%);
			    		}
			    		left: 27%;
			    		@media (min-width: 1400px) {
			    			left: 25%;
			    		}
			    		.input-quiz {
			    			width: 100px;
			    			max-width: none;
			    			@media (min-width: 1400px) {
			    				width: 140px;
			    			}
			    		}
			    		// right: 5%!important;
			    	}
			    	.box_text171 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 11.5%;
			    		@media (min-width: 1400px) {
			    			top: 11.5%;
    						
			    		}
			    	}
			    	.box_text172 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 24%;
			    		@media (min-width: 1400px) {
			    			top: 24%;
    						
			    		}
			    	}
			    	.box_text173 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 37%;
			    		@media (min-width: 1400px) {
			    			top: 36%;
    						
			    		}
			    	}
			    	.box_text174 {
			    		position: absolute;
			    		// right: 0%;
			    		top: 50%;
			    		@media (min-width: 1400px) {
			    			top: 48%;
    						
			    		}
			    	}
			    	.box_text17_radio {
			    		position: absolute;
			    		top: 62%;
			    		right: 8%;
			    		width: 100%;
			    		display: flex ;
						flex-direction: column ;
						flex-wrap: wrap ;
						justify-content: flex-start ;
						align-items: center ;
						align-content: flex-end ;
			    		@media (min-width: 1400px) {
			    			// top: 17%;
			    			right: 15%;
			    		}
			    		input {
			    			width: 22px;
			    			height: 22px;
			    			
			    			border: 0;
			    			position: relative;
			    			z-index: 1;
			    			margin-bottom: 8px;
			    			.box-gradient-ver();
			    			&:focus {
			    				outline: none!important;
			    			}
			    			&:after {
			    				position: absolute;
			    				top: 3px;
			    				left: 3px;
			    				right: 3px;
			    				bottom: 3px;
			    				content: "";
			    				border-radius: 50%;
			    				z-index: 1;
			    				background: #fff;
			    				@media (min-width: 1400px) {
			    					top: 4px;
				    				left: 4px;
				    				right: 4px;
				    				bottom: 4px;
			    				}
			    			}
			    			&:before {
			    				z-index: 2;
			    				background: transparent;
			    				width: 28px;
							    height: 28px;
							    margin-top: -16px;
							    margin-left: -13px;
							    font-size: 30px;
							    @media (min-width: 1400px) {
							    	width: 38px;
								    height: 38px;
								    margin-top: -18px;
								    margin-left: -15px;
								    font-size: 34px;
							    }
			    			}
			    			&:checked:before {
			    				content: "\f00c";
			    				color: #7ed321;
			    			}
			    			@media (min-width: 1400px) {
			    				width: 34px;
			    				height: 34px;
			    			}
			    		}
			    		
			    		
			    	}
			    	.box_text17_radio1 {
			    		top: 61%;
			    		@media (min-width: 1400px) {
			    			top: 57.5%;
			    		}
			    	}
			    	.box_text17_radio2 {
			    		top: 84%;
			    		@media (min-width: 1400px) {
			    			top: 78.5%;
			    		}
			    	}
			    	// style page 13
			    	.box_text13 {
			    		position: absolute;
			    		top: 14%;
			    		right: 8%;
			    		width: 100%;
			    		display: flex ;
						flex-direction: column ;
						flex-wrap: wrap ;
						justify-content: flex-start ;
						align-items: center ;
						align-content: flex-end ;
			    		@media (min-width: 1400px) {
			    			top: 14%;
			    			right: 12%;
			    		}
			    		input {
			    			width: 22px;
			    			height: 22px;
			    			
			    			border: 0;
			    			position: relative;
			    			z-index: 1;
			    			margin-bottom: 0px;
			    			.box-gradient-ver();
			    			&:focus {
			    				outline: none!important;
			    			}
			    			&:after {
			    				position: absolute;
			    				top: 3px;
			    				left: 3px;
			    				right: 3px;
			    				bottom: 3px;
			    				content: "";
			    				border-radius: 50%;
			    				z-index: 1;
			    				background: #f4f4f5;
			    				@media (min-width: 1400px) {
			    					top: 4px;
				    				left: 4px;
				    				right: 4px;
				    				bottom: 4px;
			    				}
			    			}
			    			&:before {
			    				z-index: 2;
			    				background: transparent;
			    				width: 28px;
							    height: 28px;
							    margin-top: -16px;
							    margin-left: -13px;
							    font-size: 30px;
							    @media (min-width: 1400px) {
							    	width: 30px;
								    height: 30px;
								    margin-top: -18px;
								    margin-left: -15px;
								    font-size: 34px;
							    }
			    			}
			    			&:checked:before {
			    				content: "\f00c";
			    				color: #7ed321;
			    			}
			    			@media (min-width: 1400px) {
			    				width: 34px;
			    				height: 34px;
			    			}
			    		}
			    		
			    	}
			    	.box_text130 {
			    		top: 92%;
			    		@media (min-width: 1400px) {
			    			top: 86%;
			    			// right: 
			    		}
			    	}
			    	.box_text132 {
			    		top: 40%;
			    		@media (min-width: 1400px) {
			    			top: 38%;
			    		}
			    	}
			    	.box_text133 {
			    		top: 67%;
			    		@media (min-width: 1400px) {
			    			top: 63%;
			    		}
			    	}
			    	.box_text134 {
			    		top: 93%;
			    		@media (min-width: 1400px) {
			    			top: 88%;
			    		}
			    	}
			    	// style page exam8

			    	.box_audio7 {
			    		position: absolute;
			    		top: 47%;
			    		left: 0;
			    		width: 100%;
			    		height: 46px;
			    		.box-gradient-ver();
			    		border-radius: 23px;
			    		@media (min-width: 1400px) {
			    			top: 45%;
			    		}
			    		&:focus {
			    			outline: none;
			    		}
			    		@media (min-width: 1400px) {
			    			border-radius: 29px;
			    			height: 58px;
			    			left: 0.5%;
			    			right: 7.5%;
			    			width: auto;
			    			top: 33%;
			    		}
			    		.audio-quiz {
			    			position: absolute;
						    width: 99%;
						    top: 0px;
						    bottom: auto;
						    margin: 2px auto;
						    height: 91%;
						    left: 2px;
						    right: 2px;
						    &:focus {
				    			outline: none;
				    		}
			    		}
			    	}
			    }
		    }
	    }
	}
}

.text-primary {
	color: @brand-primary!important;
}
.box_input_map {
	position: relative;
}
.component-quiz {
    position: relative;
    height: 0;
    top: 0;
    overflow-x: hidden;
    .loading-icon {
	    width: 50px;
	    height: 50px;
	    position: relative;

	}
	.mapping-qual {
		position: absolute;
	    top: 47%;
	    left: 4%;
	    width: 85px;
	    height: 27px;
	    display: inline-block;
	    border-radius: 15px;
	    border: 2px dashed #fff;
	    @media (min-width: 1400px) {
	    	width: 120px;
	    }
	    &.map2 {
	    	top: 32%;
    		left: 18%;
	    }
	    &.map3 {
	    	top: 27%;
    		left: 37%;
	    }
	    &.map4 {
	    	top: 37%;
    		left: 34%;
	    }
	    &.map5 {
	    	top: 42%;
    		left: 50%;
	    }
	    &.map6 {
	    	top: 50%;
    		left: 23%;
	    }
	    &.map7 {
	    	top: 56%;
    		left: 42%;
	    }
	    &.map8 {
	    	top: 34%;
    		left: 69%;
	    }
	    &.map9 {
	    	top: 50%;
    		left: 69%;
	    }
	    
	    
	}

	.map-item {
		display: inline-block;
		font-size: 14px;
		height: 24px;
		line-height: 30px;
		border-radius: 13px;
		padding: 0 16px;
		font-family: @headings-font-family;
		font-weight: bold;
		text-transform: uppercase;
		.box-gradient-ver();
		@media (min-width: 1400px) {
			font-size: 21px;
			height: 35px;
			line-height: 40px;
			border-radius: 15px;
		}
	}
	.mapping-quiz {
		position: absolute;
		bottom: 16%;
    	left: 2%;
    	width: 96px;
    	height: 30px;
		@media (min-width: 1400px) {
			width: 130px;
		}
		&.jane {
			left: 30%;
		}
		&.jack {
			left: 56.6%;
		}
		&.fred {
			left: 83.5%;
		}
		&.charlie {
			left: 15.5%;
    		top: 12%;
		}
		&.jone {
			left: 42.5%;
    		top: 12%;
		}
		&.tom {
			left: 69.5%;
    		top: 12%;
		}
		
		
	}
	// .loading-icon:after, .loading-icon:before {
	//     content: "";
	//     display: block;
	//     width: 100%;
	//     height: 100%;
	//     border-radius: 50%;
	//     opacity: .6;
	//     position: absolute;
	//     top: 0;
	//     left: 0;
	//     animation: loading-frame 2s infinite ease-in-out;
	// }
	// .loading-icon-start:after, .loading-icon-start:before {
	//     background-color: @brand-primary!important;
	// }
}