main {
	.sidebar {
		position: fixed;
	    left: 0;
	    top: 0;
	    color: #fff!important;
	    // background-color: #5d2c12;
	    width: 250px;
	    padding: 0 0 25px;
	    height: 100vh;
	    z-index: 2;
	    background: url(../images/bg_sidebar.png) top center no-repeat @brand-primary;
	    background-size: cover;
	    @media (min-width: 1400px) {
	    	width: 380px;
	    	background-size: cover;
	    }
	    h1 {
	    	margin-top: 15px;
	    	@media (min-width: 1400px) {
	    		margin-top: 20px;
	    	}
	    	a {
	    		display: block;
	    		img {
	    			max-width: 100%;
	    		}
	    	}
	    }
	    // .box-gradient-ver();
	    .sidebar-scroll {
	    	.wrapper-scroll {
	    		max-height: 200px!important;
			    overflow: auto;
			    padding: 15px;
			    border-bottom:1px solid #ffae13;
			    @media (min-width: 1400px) {
			    	padding: 20px;
			    	max-height: 260px!important;
			    }
			    ul {
			    	list-style: none;
			    	padding: 0;
			    	margin: 0;
			    	li {
			    		padding: 15px 0 15px 45px;
			    		position: relative;
			    		display: block;
			    		margin-bottom: 15px;
			    		&:last-child {
			    			margin-bottom: 0;
			    		}
			    		@media (min-width: 1400px) {
			    			
			    			padding: 25px 0 25px 65px;
			    		}
			    		a {
			    			display: block;
			    			text-decoration: none;
			    		}
			    		p.photo {
			    			position: absolute;
			    			top: 0;
			    			left: 0;
			    			img {
			    				max-width: 70px;
			    				@media (min-width: 1400px) {
			    					max-width: none;
			    				}
			    			}
			    		}
			    		h3 {
			    			height: 40px;
			    			line-height: 50px;
			    			border-radius: 20px;
			    			text-align: center;
			    			font-size: 20px;
			    			color: #fff;
			    			padding: 0 10px 0 25px;
			    			.btn-inner-shadow();
			    			@media (min-width: 1400px) {
			    				height: 58px;
				    			line-height: 70px;
				    			border-radius: 29px;
				    			font-size: 30px;
				    			padding-left: 0 10px 0 30px;
			    			}
			    		}
			    	}
			    }
			    // background-color: #432814;
	    	}
	    }
	    .box_lnk {
	    	margin-top: 20px;
	    }
	}
	.main-content {
	    width: calc(100% - 250px);
	    background-color: #f4f9ff;
	    min-height: 100vh;
	    overflow: hidden;
	    background: url(../images/bg_body.jpg) top right;
	    background-size: cover;
	    float: right;
	    @media (min-width: 1400px) {
	    	width: calc(100% - 380px);
	    }
	    .main_wrap {
	    	padding: 2%;
	    	.header-top {
	    		display: flex ;
				flex-direction: row ;
				flex-wrap: wrap ;
				justify-content: space-between ;
				align-items: flex-start ;
				align-content: flex-start ;
				margin-bottom: 1.4%;
				@media (min-width: 1400px) {
					margin-bottom: 2%;
				}
				.box_user {
					padding: 15px 0 15px 55px;
		    		position: relative;
		    		display: block;
		    		margin-bottom: 15px;
		    		@media (min-width: 1400px) {
		    			padding: 25px 0 25px 80px;
		    		}
		    		p.photo {
		    			position: absolute;
		    			top: 0;
		    			left: 0;
		    			img {
		    				max-width: 70px;
		    				@media (min-width: 1400px) {
		    					max-width: none;
		    				}
		    			}
		    		}
		    		h3 {
		    			height: 40px;
		    			line-height: 50px;
		    			border-radius: 20px;
		    			text-align: center;
		    			font-size: 20px;
		    			color: #fff;
		    			padding: 0 10px 0 25px;
		    			box-shadow: 2px 2px 26px 7px rgba(63,63,63,0.61) inset;
						-webkit-box-shadow: 2px 2px 26px 7px rgba(63,63,63,0.61) inset;
						-moz-box-shadow: 2px 2px 26px 7px rgba(63,63,63,0.61) inset;
		    			@media (min-width: 1400px) {
		    				height: 58px;
			    			line-height: 69px;
			    			border-radius: 29px;
			    			font-size: 30px;
			    			padding: 0 20px 0 30px;
		    			}
		    		}
				}
				.rank-map {
					display: flex ;
					flex-direction: row ;
					flex-wrap: wrap ;
					justify-content: flex-end ;
					align-items: center ;
					align-content: flex-start ;
					.box_rank {
						margin-left: 20px;
						position: relative;
						&.featured {
							h6 {
								left: 35%;
				    			// top: 28px;
				    			font-family: @headings-font-family;
				    			@media (min-width: 1400px) {
					    			font-size: 28px;
					    			top: 35px;
				    			}
							}
							img {
								max-width: 230px;
								@media (min-width: 1400px) {
									max-width: 350px;
								}
							}
						}
						h6 {
							color: #fff;
							position: absolute;
							font-size: 18px;
			    			left: 37%;
			    			top: 28px;
			    			font-family: @headings-font-family;
			    			@media (min-width: 1400px) {
				    			font-size: 28px;
				    			top: 35px;
			    			}
						}
						img {
							max-width: 200px;
							@media (min-width: 1400px) {
								max-width: 300px;
							}
						}
					}
				}
	    	}
	    	.box-content {
	    		.box_row {
	    			margin: 0;
	    			padding: 0;
	    			list-style: none;
	    			display: flex ;
					flex-direction: row ;
					flex-wrap: wrap ;
					justify-content: space-between ;
					align-items: center ;
					align-content: center ;
					&.bottom {
						.item {
							display: flex ;
							flex-direction: row ;
							flex-wrap: wrap ;
							justify-content: space-between ;
							align-items: center ;
							align-content: center ;
							margin-bottom: 0;
							&:nth-child(2) {
		    					p.photo {
		    						max-width: 45%;
		    						left: 44%;
		    						@media (min-width: 1400px) {
		    							left: 42%;
		    							img {
		    								margin-top: -20px;
		    							}
		    						}
		    						img {
		    							margin-top: -50px;
		    						}
		    					}
		    					.box-info {
		    						h2 {
		    							margin: 0 50px 0 auto;
		    						}
		    					}
		    				}
							.box-info {
	    						margin-left: 0;
	    						h2 {
	    							margin: 0 20px 0 auto;
	    							text-align: right;
	    							@media (min-width: 1400px) {
	    								margin: 0 60px 0 auto;
	    							}
	    						}
	    						.txt {
	    							justify-content: flex-start ;
	    							p{
	    								padding-left: 30px;
	    							}
	    						}
	    					}
	    					p.photo {
	    						left: 44%;
    							max-width: 45%;
    							@media (min-width: 1400px) {
    								left: 40%;
    							}
    							img {
    								margin-bottom: -20px;
    							}
    							
	    					}
						}
					}
	    			.item {
	    				width: 50%;
	    				position: relative;
	    				margin-bottom: 8%;
	    				@media (min-width: 1400px) {
	    					margin-bottom: 10%;
	    				}
	    				&:nth-child(2) {
	    					p.photo {
	    						max-width: 45%;
	    						left: -8%;
	    						@media (min-width: 1400px) {
	    							left: -3%;
	    							top: -10%;
	    						}
	    					}
	    				}
	    				h2 {
				    		font-family: 'Baloo';
				    		margin-top: 20px;
							font-size: 36px;
							color: #b21717;
							line-height: 80%;
							text-transform: uppercase;
							@media (min-width: 1400px) {
							    font-size: 56px;
							}
							span {

		  						text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
		  						-webkit-text-stroke: colorchange;
		  						text-shadow: rgb(189, 189, 189) 3px 0px 0px, rgb(189, 189, 189) 2.83487px 0.981584px 0px, rgb(189, 189, 189) 2.35766px 1.85511px 0px, rgb(189, 189, 189) 1.62091px 2.52441px 0px, rgb(189, 189, 189) 0.705713px 2.91581px 0px, rgb(189, 189, 189) -0.287171px 2.98622px 0px, rgb(189, 189, 189) -1.24844px 2.72789px 0px, rgb(189, 189, 189) -2.07227px 2.16926px 0px, rgb(189, 189, 189) -2.66798px 1.37182px 0px, rgb(189, 189, 189) -2.96998px 0.42336px 0px, rgb(189, 189, 189) -2.94502px -0.571704px 0px, rgb(189, 189, 189) -2.59586px -1.50383px 0px, rgb(189, 189, 189) -1.96093px -2.27041px 0px, rgb(189, 189, 189) -1.11013px -2.78704px 0px, rgb(189, 189, 189) -0.137119px -2.99686px 0px, rgb(189, 189, 189) 0.850987px -2.87677px 0px, rgb(189, 189, 189) 1.74541px -2.43999px 0px, rgb(189, 189, 189) 2.44769px -1.73459px 0px, rgb(189, 189, 189) 2.88051px -0.838247px 0px;
		  						// text-shadow: #b1b1b1 2px 0px 0px, #b1b1b1 1.75517px 0.958851px 0px, #b1b1b1 1.0806px 1.68294px 0px, #b1b1b1 0.141474px 1.99499px 0px, #b1b1b1 -0.832294px 1.81859px 0px, #b1b1b1 -1.60229px 1.19694px 0px, #b1b1b1 -1.97998px 0.28224px 0px, #b1b1b1 -1.87291px -0.701566px 0px, #b1b1b1 -1.30729px -1.5136px 0px, #b1b1b1 -0.421592px -1.95506px 0px, #b1b1b1 0.567324px -1.91785px 0px, #b1b1b1 1.41734px -1.41108px 0px, #b1b1b1 1.92034px -0.558831px 0px;
							}
							span.top {
								background: -webkit-linear-gradient(45deg, #b21717, #da1d1d 80%);
								-webkit-background-clip: text;
								color: #db1d1d;
		  						// -webkit-text-fill-color: transparent;
								
							}
							span.bottom {
								background: -webkit-linear-gradient(-28deg, #5f1a1a, #da1d1d 43%);
								-webkit-background-clip: text;
		  						// -webkit-text-fill-color: transparent;
							}
				    	}
	    				p.photo {
	    					max-width: 38%;
	    					position: absolute;
	    					left: 0;
	    					z-index: 2;
	    					img {
	    						margin-bottom: 50px;
	    					}
	    				}
	    				.box-info {
	    					width: 55%;
	    					margin-left: 30%;
	    					h2 {
	    						margin-left: 30px;
	    					}
	    					.txt {
	    						background: url(../images/bg_txt.png) top right no-repeat;
	    						background-size: contain;
	    						min-height: 130px;
	    						color: #fff;
	    						display: flex ;
								flex-direction: row ;
								flex-wrap: wrap ;
								justify-content: flex-end ;
								align-items: flex-end ;
								align-content: center ;
								position: relative;
								&.reverse {
									background: transparent;
									p {
										padding-left: 30px;
										padding-right: 0;
									}
									&:before {
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										background: url(../images/bg_txt.png) top right no-repeat;
										content: "";
										transform: rotateY(180deg);
  										transform-style: preserve-3d;
  										background-size: contain;
  										z-index: 0;
									}
								}
								@media (min-width: 1400px) {
									min-height: 180px;
								}
								p {
									width: 83%;
									// margin: 0 auto;
									padding-right: 20px;
									position: relative;
									text-transform: uppercase;
									font-weight: bold;
									@media (min-width: 1400px) {
										width: 77%;
										font-size: 20px;
										padding-right: 30px;
									}
								}
	    					}
	    				}
	    			}
	    		}
	    	}
	    }
	}
}