//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}


// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}
// Links

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }

  &:focus {
    .tab-focus();
  }
}

p {
    margin: 0;
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
  max-width: 100%;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

// Rounded corners
.img-rounded {
  border-radius: @border-radius-large;
}

// Image thumbnails
//
// Heads up! This is mixin-ed into thumbnails.less for `.thumbnail`.
.img-thumbnail {
  padding: @thumbnail-padding;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 1px solid @thumbnail-border;
  border-radius: @thumbnail-border-radius;
  .transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  .img-responsive(inline-block);
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules

hr {
  margin-top:    @line-height-computed;
  margin-bottom: @line-height-computed;
  border: 0;
  border-top: 1px solid @hr-border;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  .box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px \9; // IE8-9
  line-height: normal;
  width: 16px;
  height: 16px;
  // border: 0;
  background: #fff;
  border: 1px solid #bfbfbf;

  //  -webkit-writing-mode: horizontal-tb;
  //  writing-mode: horizontal-tb;
  //  -webkit-rtl-ordering: logical;
   -webkit-appearance: none;
   -webkit-box-shadow: none; 
   box-shadow: none; 
   position: relative;

}
input[type="checkbox"] {
   -webkit-writing-mode: horizontal-tb;
   writing-mode: horizontal-tb;
   -webkit-rtl-ordering: logical;
   -webkit-appearance: none;
   -webkit-box-shadow: none; 
   box-shadow: none; 
   width: 16px;
   height: 16px;
   border-radius: 4px;

}

input[type="checkbox"]:checked:before {
  // font-family: FontAwesome;
    content: "\f00c";
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 24px;
    width: 10px;
    height: 10px;
    // margin: 4px;
    line-height: 10px;
    color: @green;
    float: left;
    display: inline-block;
    vertical-align: middle;
    font: normal 14px/1 'FontAwesome';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
input[type="radio"]:checked:before {
  // font-family: FontAwesome;
    position: absolute;
    content: "";
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 24px;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    line-height: 8px;
    background: @green;
    float: left;
    font: normal 14px/1 'FontAwesome';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline-offset: -2px;
}

input[type="radio"] {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    outline-offset: -2px;
}
input[type="radio"]:focus {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50%;
    outline-offset: -2px;
}
input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}
select{
  // -webkit-appearance: select;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/icons/ic_down.png") no-repeat scroll 100% center / 22px 12px !important;
}
// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}

// Adjust output element
output {
}
.form-horizontal .form-group {
  margin: 0;
}

.form-control-default {
  display: block;
  width: 100%;
  line-height: 48px;
  height: 50px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: 14px;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px dashed @brand-primary;
  .border-radius(10px);
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  //.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  outline: none;
  background: #fff;
  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();
  &:focus{
    border-color:@brand-primary;
     .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{brand-primary}");
  }
  

  // Placeholder
  //.placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    .opacity(1); // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}
.form-group {
  margin-bottom: 30px;
}
.form-control {
  display: block;
  width: 100%;
  line-height: 46px;
  height: 50px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: 14px;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px dashed @brand-primary;
  .border-radius(10px);
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  //.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  outline: none;
  background: #fff;
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  //.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  outline: none;
  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();
  &:focus{
    // border-color: darken(@input-border, 10%);
     // .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{brand-primary}");
     border: 2px dashed @blue;
  }
  &.borderBlue {
    border: 2px dashed @blue;
  }

  // Placeholder
  .placeholder(@gray-light);

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    .opacity(1); // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  font-family: @headings-font-family;
  color: @input-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0;
  white-space: nowrap;
  text-transform: uppercase;
  // width: 100%;
  padding: 0px;
  // max-width: 210px;
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 56px;
  color: #fff;
  .user-select(none);
  outline: none;
  .border-radius(~"30px");
  transition: 0.25s;
  padding: 0 20px;
  @media (min-width: 1400px) {
    font-size: 26px;
    height: 60px;
    line-height: 68px;
  }
  // --hover: #ef8f6e;
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    // opacity: 0.7;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
  }
  i,
  span{
    z-index: 2;
    position: relative;
  }
  
  
  &.btn-primary {
    background: @brand-primary;
    color: #fff!important;
  }
  &.btn-grandient {
    .bg-gradient-btn();
    color: #fff!important;
  }
  &.btn-gradient-inset {
    .btn-inner-shadow();
    color: #fff!important;
  }
  
}

// .btn-rounded {
//  //default style 
// }
.btn-style-square {
  .border-radius(0);
}
.btn-style-round {
  &,
  &:after,
  &:before{
    .border-radius(~"100px !important");
  }
}

.btn-style-outlined {
  background: none !important;
  border-width: 1px !important;
}
.btn-style-3d {
  
}

//btn Effect


// Alternate buttons
// --------------------------------------------------
// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled]{
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.btn-align-left{

}
.btn-align-center{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.btn-align-right{
  float: right;
}



// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.container_wrap {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-md-wrap;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md-wrap;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-md-wrap;
  }
}

//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: @line-height-computed 0;
  border-radius: @border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 8px 14px;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        .border-left-radius(0);
      }
    }
    &:last-child {
      > a,
      > span {
        .border-right-radius(0);
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .modal-lger { width: 1110px; }
}

@media (min-width: @screen-md-min) {
  .modal-ssm { width: 460px; }
}

// style process

// Outer container
.progress {
  // overflow: hidden;
  height: 8px;
  background-color: @progress-bg;
  border-radius: @progress-border-radius;
  .box-shadow(none);
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: @font-size-small;
  line-height: @line-height-computed;
  color: @progress-bar-color;
  text-align: center;
  background-color: @progress-bar-bg;
  .box-shadow(none);
  .transition(width .6s ease);
}

// style alert
.alert {
  padding: 10px 15px;
  margin-bottom: @line-height-computed;
  border: 0;
  border-radius: 0;
  border-top: 1px solid @border-color-base;
  font-weight: bold;
  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: @alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px!important;
  position: relative;
  right: 0;
  width: 6px!important;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bdbdbd;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  .box-gradient-ver();
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd; 
  border-radius: 10px;
}