@font-face {
  font-family: 'Baloo';
  src: url('../fonts/Baloo.eot');
  src: url('../fonts/Baloo.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Baloo.woff2') format('woff2'), 
  url('../fonts/Baloo.woff') format('woff'), 
  url('../fonts/Baloo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//
// Variables
// --------------------------------------------------

@bgColor:				@white;



@color:                  #282828;
//@activeColor:            @brand-primary;

@labelColor:			 #333; 
@linkColor:				 #f56a6f;

@borderColor:           #f0f0f0;


@base-url	:			 "../images/";



@screen-phone:	(@screen-xs - 1);

@gray-darker:            #222;
@gray-dark:              #4a4a4a;
@gray:                   #4a4a4a;
@gray-light:             #666666;
@gray-lighter:           #F5F5F5;
@gray-lightest:          #f2f2f2; // T3 Note: Add gray lightest
@gray-lightmore:		 #f5f5f5;
@gray-lightbase:		 #ccc;
@bg-graylight: 			 #f5f5f5;

@red:					 #d0021b;
@yellow:				 #f7a800;
@green:				 	#7ed321;
@blue: 					#4bb4dd;
@darkgreen: #417505;


// Brand colors
// -------------------------

@brand-primary:         #f16e6c;
@brand-secondary:       #5492db; // T3 Note: Add secondary color
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;
@brand-thirtydary: 			#542c22;
@border-arrow: 					#ebebeb;

// title color

@title-cate:						#542c22;
@product-name:                      #252525;
@product-text:                      #542c22;

// Accent colors
// -------------------------

@black:                 #000;
@black-lighter:					#252525;
@white:                 #fff;
@green_color: #7ed221;
@green_yellow: #f7e71b;


// Scaffolding
// -------------------------

@body-bg:               @gray-lighter;
@footer-bg:             #111111;
@footer-bg-lighter:     #f5f5f5;
@footer-color-link:		  #959595;
@text-color:            #282828;


// Links
// -------------------------

@link-color:            @text-color;
@link-hover-color:      @blue;


// Typography
// -------------------------
// @font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif:  'Montserrat', sans-serif;
@font-family-serif:       'Montserrat', sans-serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
// font-family: 'Baloo Tammudu', cursive;
// font-family: 'Montserrat', sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          15px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.6; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    'Baloo Tammudu', cursive;
@headings-font-weight:    normal;
@headings-line-height:    1.1;
@headings-color:          inherit;


// @line-height-base:				1.5;


@border-color-footer: 	#272727;
@border-color-footer4: 	#eeeeee;
@border-color-footer3: 	rgba(255,255,255,0.1);
@border-color-footer2: 	#e1dede;
// @border-color-footer4: 	#000;
@border-color-base: 	#f4f4f4;
@border-color-lighter: 	#ececec;
@nav-tabs-border-color: #dddcdc;
//** Default `.form-control` height
@input-height-base: 60px;
//** Large `.form-control` height
@input-height-large: 70px;
//** Small `.form-control` height
@input-height-small: 50px;
@input-border-radius: 5px;
@input-border: #bfbfbf;
@input-color: #4a4a4a;
//button default
@btn-font-weight: 400;
@btn-default-color: 	#bfbfbf;
@btn-default-bg: 		transparent; 
@btn-default-border: 	#bfbfbf;
// button primary
@btn-primary-color: 	#fff;
@btn-primary-bg: 		#bebebe; 
@btn-primary-border: 	#bebebe;

@btn-success-color: @green; 
@btn-success-bg: @white; 
@btn-success-border: @green;
@btn-danger-color: @red; 
@btn-danger-bg: @white; 
@btn-danger-border: @red;

@header-top-height : 60px;

@input-color-placeholder : @gray-light;
@dropdown-bg : #fff;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

// container_wrap

@container-sm-wrap: 860px;
@container-md-wrap: 860px;
@container-lg-wrap: 860px;

//== Tabs
// @nav-tabs-border-color:                     @gray-lighter;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @white;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   @white;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

@pagination-active-bg: #f4f4f4;
@pagination-active-border: #f4f4f4;

@state-danger-text: #d0021b; 
@state-danger-bg: #fff;

@table-cell-padding:            13px 15px;
@table-border-color 	: #fafafb;
@modal-lg: 860px;
@modal-sm:                    350px;

// process bar
@progress-bg: #e9e7e7;
@progress-bar-bg: @green;
@progress-border-radius: 8px;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             #7ed321;
@state-success-bg:               rgba(126, 210, 33, 0.2);
@state-success-border:           rgba(126, 210, 33, 0.2);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              @red;
@state-danger-bg:                rgba(208, 1, 27, 0.2);
@state-danger-border:            rgba(208, 1, 27, 0.2);